
# Ignore model checkpoints and related files
*.pt
!experiments/
!experiments/optuna_20241204_164643/
!experiments/optuna_20241204_164643/trial_11/
!experiments/optuna_20241204_164643/trial_11/best_model/
!experiments/optuna_20241204_164643/trial_11/best_model/model.pt

# Ignore all .gz files (MNIST compressed files)
*.gz

# Ignore specific MNIST file formats
*-ubyte

# Ignore Python cache files
**/__pycache__/
*.py[cod]


# Optionally keep metric files while ignoring checkpoints
# If you want to keep metrics.json and model_info.json:
!experiments/**/metrics.json
!experiments/**/model_info.json
!experiments/**/final_metrics_history.json
!experiments/**/best_summary.json


# LaTeX auxiliary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.tex


# Keep these files

!*.pdf